.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.person {
	width: 350px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin: 20px;
	border: 1px solid #3f8097;
	background-color: #fff6e5;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.person:hover {
	transform: scale(1.1);
	border: 2px solid #3f8097;
}

.wrapper {
	display: flex;
	width: 150px;
	flex-direction: column;
}

.back {
	border-radius: 20px;
	border: none;
	width: 30px;
	height: 50px;
	font-size: 20px;
	background-color: lightgrey;
	cursor: pointer;
	color: gray;
}

.face {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.avatar {
	display: flex;
	align-items: center;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
}

.nameSurname {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	margin-left: 10px;
}

.nameSurname p {
	margin: 0;
}

.name {
	color: black;
	font-size: 15px;
	font-weight: bold;
}

.active {
	font-size: 10px;
	color: grey;
}

.video {
	display: flex;
	margin-left: 60px;
	width: 40px;
}

.logo {
	width: 30px;
	color: black;
}

.icon {
	display: flex;
	width: 30px;
	height: 50px;
}

.message {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 30px;
	width: 100%;
}

.chat {
	display: flex;
	justify-content: end;
	width: 30px;
	height: 30px;
}
