.chat {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: black;
    max-width: 300px;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}

.empty {
	width: 30%;
}

.text {
    display: flex;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    padding: 8px;
    line-height: 20px;
	width: 70%;
}

.friend {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}