.chat {
	display: flex;
	align-items: center;
	margin-left: 5px;
	color: black;
	max-width: 300px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.text {
	display: flex;
	margin-left: 10px;
	border-radius: 20px;
	background-color: grey;
	align-items: center;
	padding: 8px;
	line-height: 20px;
}

.friend {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}
