.container {
	display: flex;
	background-image: url("../../../public/woooooopty.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}

.inputs {
	width: 600px;
	border-radius: 10px;
	background-color: #fff6e5;
	border: 2px solid #ff7b5f;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.menu {
	max-height: 150px;
}

.field {
	display: flex;
}

.payment {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 100px;
}

.btn {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	margin: 25px;
	background-color: #ffffff;
	border-radius: 20px;
	border: 1px solid salmon;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.3);
	background-color: #ff7b5f;
	border: 2px solid #3f8097;
	box-shadow: 0 0 0 5px #fff;
	cursor: pointer;
}

.back {
	width: 250px;
	height: 30px;
}

.arrow {
	width: 50px;
	height: 30px;
}

.walk {
	font-size: 64px;
	font-weight: bold;
	color: #fff;
	text-shadow: -2px -2px 0 #ff7b5f, 2px -2px 0 #ff7b5f, -2px 2px 0 #ff7b5f,
		2px 2px 0 #ff7b5f;
}
