.container {
	display: flex;
	background-image: url("../../../public/woooooopty.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.register {
    display: flex;
    align-items: center;
}
